<!-- <section>
  <button title="#" mat-icon-button color="accent">
<mat-icon>home</mat-icon>
  </button>
  </section> -->



<section>
<form fxLayout="column" fxLayoutAlign.lg="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
<mat-form-field>
<input type="email" title="#" matInput placeholder="your email" ngModel name="email">
</mat-form-field>
<mat-form-field>
  <input type="password" title="#" matInput placeholder="your password" mgModel name="password">
  </mat-form-field>
<button type="submit" mat-raised-button color="'primary">Submit</button>
</form>
</section>

