<section>
  <button title="#" mat-icon-button color="accent">
<mat-icon>home</mat-icon>
  </button>
  </section>

<!-- <section id="container">
<div class="child" id="child1"></div>
<div class="child" id="child2"></div>
<div class="child" id="child3"></div>

</section> -->

<section>
<form fxLayout="column" fxLayoutAlign.lg="center center">
<mat-form-field>
<input type="email" title="#" matInput placeholder="your email">
</mat-form-field>
<mat-form-field>
  <input type="password" title="#" matInput placeholder="your password">
  </mat-form-field>
</form>
</section>
<router-outlet></router-outlet>
